.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
}

.viewport-slider-item {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.viewport-slider-button {
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  opacity: .5;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity .35s;
}

.viewport-slider-button:hover {
  opacity: 1;
}

.viewport-slider-paginator {
  display: none;
  background-color: #ccc;
  border: 1px solid #fff;
  box-shadow: 0 0 2px #ccc;
}

.viewport-slider-paginator-bullet {
  display: none;
  background: #fff;
  cursor: pointer;
  opacity: .4;
  transition: opacity .35s;
}

.viewport-slider-paginator-bullet:hover {
  opacity: .6;
}

.viewport-slider-paginator-bullet.is-active {
  opacity: 1;
}

.content {
  font-size: 6em;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 0;
}

.has-overlay::after {
  content: '';
  background-color: #d5af86;
  left: 0;
  height: 100%;
  opacity: .7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.has-overlay > div {
  z-index: 2;
}


.img-test {
  background-image: url('../img/mountains.jpg')
}

.verse {
  color: #999;
  margin-top: -200px;
  margin-bottom: 200px;
  font-size: 18px;
  font-family: "Brush Script MT"
}



.no-padding {
    padding: 0;
}